{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 8</title>
{% endblock meta %}

{% block content %}
<div class="container text-center mt-5 pt-5 mb-5 pb-5">
  <input id="keyword" placeholder="Search Your Books Here!">

  <table id="hasil" class="table">

  </table>    
</div>

<script type="text/javascript">

  $(document).ready( function() {
    url_default = '/data?q=jkt48';
    $.ajax({
      url: url_default,
      success: function(tmp) {
        var obj_default = $('#hasil');
        for (i = 0; i < tmp.items.length; i++) {
          var def_title = tmp.items[i].volumeInfo.title;
          var def_thumbnail = tmp.items[i].volumeInfo.imageLinks.smallThumbnail;
          obj_default.append('<tr> <td> ' + (i+1) + '</td> <td>' + def_title + '</td> <td> <img src=' + def_thumbnail + '> </td>');
        }
      }
    })
  })

  $("#keyword").keyup( function() {
    var isi_keyword = $("#keyword").val();
    var url_yg_dipanggil = '/data?q=' + isi_keyword;

    $.ajax({
      url: url_yg_dipanggil,
      success: function(hasil) {
        var obj_hasil = $("#hasil");
        obj_hasil.empty();

        for (i = 0; i < hasil.items.length; i++) {
          var tmp_title = hasil.items[i].volumeInfo.title;
          var tmp_thumbnail = hasil.items[i].volumeInfo.imageLinks.smallThumbnail;
          obj_hasil.append('<tr> <td> ' + (i+1) + '</td> <td>' + tmp_title + ' </td> <td> <img src=' + tmp_thumbnail + '> </td>');
        }
      }
    })
  })
</script>
{% endblock content %}
